In [ ]:

import pyspark
from pyspark.sql import SparkSession

from pyspark.sql.functions import *
from pyspark.sql.types import *

import pandas as pd
import matplotlib.pyplot as plot
import seaborn as sn
import getpass

spark=SparkSession.builder.appName('demo').getOrCreate() 
bank_data=spark.read.csv("bank_segdata.csv",inferSchema=True,header=True)


def run_query(query_number):
    if query_number == 1:
        df.filter((df["CustAccountBalance"]>500) & (df["TransactionAmount"]<50000)).show()
        run()
        
    elif query_number == 2:
        df.filter(df["CustGender"] == "F").selectExpr("avg(CustAccountBalance)").show() 
        run()
    
    elif query_number == 3:
        result = df.filter((df["CustGender"]=="F") & (df["CustLocation"]=="CHENNAI")).show() 
        run()
    
    elif query_number == 4:
        import matplotlib.pyplot as plt
        from pyspark.sql.functions import sum
        total_transactions = bank_data.groupBy("CustGender").agg(sum("TransactionAmount").alias("total_transaction_amount")).toPandas()
        print(total_transactions.head())

        sn.set(rc={'figure.figsize':(6,5)})
        sn.barplot(data=total_transactions, x='CustGender', y='total_transaction_amount')
        plt.title('Total Transaction Amount by Gender')
        plt.xlabel('Gender')
        plt.ylabel('Total Transaction Amount')
        plt.show()
        run()
    elif query_number == 5:
        from pyspark.sql.functions import max

        highest_transactions = df.filter(df["CustLocation"] == "MUMBAI") \
                             .groupBy("TransactionDate") \
                             .agg(max("TransactionAmount").alias("HighestTransactionAmount"))

        highest_transactions.show()
        run()
    
    elif query_number == 6:
        df.select("TransactionAmount").agg({"TransactionAmount": "avg"}).show()
        run()
    
    elif query_number == 7:
        df.select("TransactionAmount").agg({"TransactionAmount": "max"}).show() 
        run()
        
    elif query_number == 8:
        df.select("TransactionAmount").agg({"TransactionAmount": "min"}).show()
        run()
    
    elif query_number == 9:
        from pyspark.sql.functions import desc


        sorted_transactions = df.sort(desc("TransactionAmount"))


        highest_transaction = sorted_transactions.first()
        print("TransctionID:", highest_transaction.TransctionID)
        print("Amount:", highest_transaction.TransactionAmount)
        run()
    elif query_number == 10:
        import matplotlib.pyplot as plt

        from pyspark.sql.functions import sum
        total_transactions = bank_data.groupBy("CustomerID").agg(sum("TransactionAmount").alias("total_transaction_amount")).toPandas()
        print(total_transactions.head())

        sn.set(rc={'figure.figsize':(16,8)})
        sn.barplot(data=total_transactions, x='CustomerID', y='total_transaction_amount')
        plt.title('Total Transaction Amount by Customer ID')
        plt.xlabel('Customer ID')
        plt.ylabel('Total Transaction Amount')
        plt.show()
        run()
    elif query_number == 11:
        from pyspark.sql.functions import col


        count = df.filter(col("TransactionDate") == "21-10-2016").show()
        run()
    
    elif query_number == 12:
        from pyspark.sql.functions import col, sum


        filtered_transactions_df = df.filter(col("TransactionDate").between("03-08-2016", "21-10-2016"))


        filtered_transactions_df.show()
        run()
    elif query_number == 13:
        df.orderBy("CustAccountBalance", ascending=False).show()
        run()
    
    elif query_number == 14:
        import matplotlib.pyplot as plt
        from pyspark.sql.functions import sum
        total_transactions = bank_data.groupBy("CustLocation").agg(sum("TransactionAmount").alias("total_transaction_amount")).toPandas()
        print(total_transactions.head())

        sn.set(rc={'figure.figsize':(12,6)})
        sn.barplot(data=total_transactions, x='CustLocation', y='total_transaction_amount')
        plt.title('Total Transaction Amount by Customer Location')
        plt.xlabel('Customer Location')
        plt.ylabel('Total Transaction Amount')
        plt.show()
        run()
    elif query_number == 13:
        df.orderBy("CustAccountBalance", ascending=False).show()
        run()
    
    elif query_number == 14:
        import matplotlib.pyplot as plt
        from pyspark.sql.functions import sum
        total_transactions = bank_data.groupBy("CustLocation").agg(sum("TransactionAmount").alias("total_transaction_amount")).toPandas()
        print(total_transactions.head())

        sn.set(rc={'figure.figsize':(12,6)})
        sn.barplot(data=total_transactions, x='CustLocation', y='total_transaction_amount')
        plt.title('Total Transaction Amount by Customer Location')
        plt.xlabel('Customer Location')
        plt.ylabel('Total Transaction Amount')
        plt.show()
        run()
        
    elif query_number == 15:
        df.groupBy("CustLocation").agg({"TransactionAmount": "sum", "TransctionID": "count"}).show()
        run()
    
    elif query_number == 16:
        from pyspark.sql.functions import col, sum

        filtered_transactions_df = df.filter(col("TransactionTime").between("52256", "183144"))


        filtered_transactions_df.show()
        customer_balances_df = filtered_transactions_df.groupBy("CustomerID")\
            .agg(sum("TransactionAmount").alias("TotalTransactionAmount"))\
            .join(df.select("CustomerID", "CustAccountBalance"), on="CustomerID", how="left")\
            .withColumn("CustomerBalance", col("CustAccountBalance") + col("TotalTransactionAmount"))

        customer_balances_df.show()
        run()

    elif query_number == 17:                                                                     

        df.createOrReplaceTempView("transactions")
        spark.sql("SELECT t1.CustomerID, t1.CustLocation, t1.CustAccountBalance FROM transactions t1 INNER JOIN (SELECT CustLocation, MAX(CustAccountBalance) AS MaxBalance FROM transactions GROUP BY CustLocation) t2 ON t1.CustLocation = t2.CustLocation AND t1.CustAccountBalance = t2.MaxBalance").show()
        run()
        
    elif query_number == 18:
        spark.sql("SELECT t1.* FROM transactions t1 INNER JOIN (SELECT CustomerID, AVG(TransactionAmount) AS AvgAmount FROM transactions GROUP BY CustomerID) t2 ON t1.CustomerID = t2.CustomerID WHERE t1.TransactionAmount > t2.AvgAmount").show() 
        run()
        elif query_number == 19:
        import matplotlib.pyplot as plt
        from pyspark.sql.functions import desc

        
        top_10_customers = df.groupBy("CustomerID").agg({"TransactionAmount": "sum"}) \
                            .orderBy(desc("sum(TransactionAmount)")).limit(10) \
                            .toPandas()
        print(top_10_customers.head())

        sn.set(rc={'figure.figsize':(10,6)})
        sn.barplot(data=top_10_customers, x='CustomerID', y='sum(TransactionAmount)')
        plt.title('Top 10 Customers by Transaction Amount')
        plt.xlabel('Customer ID')
        plt.ylabel('Total Transaction Amount')
        plt.show()
        run()
        else:
        print("Invalid choice")  
        
def run():
    
    print(''' 
            1.Number of customers with balance > 500 and transaction amount < 50000: 
            2. Average account balance of female customers: 
            3. Female customers located in Chennai: 
            4. Group customers by gender and show the total transaction amount for each group 
            5. The highest transaction amount for each day in Mumbai 
            6. The average transaction amount for all transactions 
            7. The highest transaction amount 
            8. The lowest transaction amount 
            9. The customer with the highest transaction amount 
            10. Group customers by ID and show the total transaction amount for each group 
            11. T1ransactions made on a specific date (e.g. "21-10-2016") 
            12. Balance of each customer on a specific date range (e.g. "03-08-2016" to "21-10-2016") 
            13. The customers with the highest account balance 
            14. Group transactions by location and total transaction amount for each group 
            15. Group transactions by location and the total transaction amount and count for each group 
            16. Balance of each customer during a specific time range (e.g. "52256" to "183144") 
            17. Maximum customer balance for each location 
            18.Customers who have made transactions larger than their average transaction amoun1t 
            19.The top 10 customers with the highest TransactionAmount

            20. Exit   ''')
    
     query_number= int(input("Enter your choice: "))
       
    run_query(query_number)
        

username = "Team_titans"
pswd = "Titans@21"

def login():
    a=input("enter the user name: ")
    b=getpass.getpass(prompt="Enter your password:")
    if username==a and pswd==b:
        print("Logged in Successfully")
        run()
        
        
        
    else:
        print("Invalid User Name Or Password ")
        login()
login()